.container_cad,
.container_busca,
#cxprincipal{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 4rem 1rem 2rem;
    background: linear-gradient(to bottom, var(--roxo-escuro), var(--roxo-mais-claro));
    border: solid 1px #ffffff4d;
    border-radius: 10px;
}

.container_form-cad,
.container_form-busca,
#cxmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_form-cad{
    width: 25vw;
}


.container_form-cad h1,
.container_form-busca h1,
#cxmenu h1{
    font-size: 20px;
    font-weight: 700;
}

.container_form-cad p,
.container_form-busca p{
    margin-top: 1rem;
}

.container_form__itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem 0rem 1rem;
    margin: 0 1rem;
}

.container_form_itens__inputs{
    display: flex;
    flex-direction: column;
}

.container_form_input,
.container_form_itens__inputs input{
    margin: 0.3rem 0;
}

.container_form_input span{
    font-weight: 500;
}

.container_form_input input{
    width: 240px;
    height: 26px;
    margin-top: 3px;
    color: var(--roxo-escuro);
}

.container_form_itens__submit{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-top: 1rem;
}

.container_form_itens__submit input{
    background: linear-gradient(to right, var(--rosa-claro), var(--roxo-mais-claro));
    color: white;
    font-weight: 600;
    padding: 10px 7px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container_form_itens__submit input:hover{
    transform: scale(1.1);
    filter: brightness(1.2);
}

.container_busca{
    display: none;
}

.container_form-busca{
    width: 30vw;
}
