#cxprincipal{
    width: 400px;
    height: 450px;
    position: relative;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.034);
}

#cxfigura{
    width: 300px;
    height: 200px;
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgb(67, 2, 151);
}

#cxmenu{
    width: 300px;
    height: 200px;
    position: absolute;
    margin-top: 230px;
    margin-left: 50px;
    background-color: rgb(0, 21, 141);   
    border-radius: 20px;
}

.figura_icon{
    width: 200px;
    height: 205px;
    margin-left: 20%;
}