*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--branco);
}

/* Paleta de Cores */

:root {
    --preto: #000000;
    --roxo-escuro: #13072E;
    --roxo-mais-claro: #3F2182;
    --lilas: #B3AAFF;
    --rosa-claro: #EFA9FA;
    --branco: #FFFFFF;
}

.menu {
    overflow: hidden;
    background: linear-gradient(to top , var(--roxo-escuro), var(--roxo-mais-claro));
    padding: auto 10px;
}

.menu_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_nav-left{
    float: left;
    display: flex;
    align-items: center;
}

.menu_nav-right{
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
}

.menu_nav__link a{
    float: left;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    transition: all 0.8s;
    margin: 0px 5px;
}

.menu_img img, 
.menu_nav-left img{
    width: 70px;
    height: auto;
    margin: 0px 0.5rem;
    padding: 10px;
}

.menu_nav-left img{
    width: 80px;
}

body{
    background-color: var(--roxo-escuro);
    font-family: "Poppins", sans-serif;
}

main{
    height: 45vw;
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container_itens{
    display: flex;
    flex-direction: column;
}

.container_input{
    margin: 0.3rem 0;
}

.container_button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* footer */
footer{
    background: linear-gradient(to bottom, var(--roxo-escuro), var(--roxo-mais-claro));
    height: auto;
    width: 100%;
    padding-top: 40px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h1{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover{
    color: aqua;
}

.footer-bottom{
    background: linear-gradient(to bottom var(--roxo-mais-claro));
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}